<!-- app.component.html -->
<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'formulario'" (click)="changeTab('formulario')"><h5>Calcular fallos máximos</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'card'" (click)="changeTab('card')"><h5>Calcular nota</h5></a>
    </li>
  </ul>

  <div *ngIf="activeTab === 'formulario'">
    <app-test></app-test>
  </div>
  <div *ngIf="activeTab === 'card'">
    <app-minimo></app-minimo>
  </div>
</div>
